@model MVC_Diploma.Models.ManagerViewModel
@{
    ViewBag.Title = "Index";
}
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="~/Content/StyleForTables.css">

</head>
<h2>Необработаные заявки</h2>
<div>
    <a class="btn btn-default" href="@Url.Action("Admited", "Manager")">Список подтвержденных заявок</a>
</div>
@ViewBag.Message
<table>
    <tr><th><h3>Номер заявки</h3></th><th><h2>Описание</h2></th><th><h2>Статус</h2></th></tr>
    @foreach (var req in Model.requests)
    {
<tr>
    <td>
        @req.RequestId
    </td>
    <td>
        @req.Description
    </td>
    <td>
        @req.Status
    </td>
    <td>
        @Html.ActionLink("Подтвердить", "Admit", "Manager", new { requestId = req.RequestId }, null);
    </td>
</tr>
    }
</table>